<launch>

  <env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find amr_robots_gazebo)/models" />
  <env name="GAZEBO_RESOURCE_PATH" value="$GAZEBO_RESOURCE_PATH:$(find amr_robots_gazebo)/models" />

 <!-- <arg name="world" default="worlds/empty.world" /> -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  <include filename="$(find amr_robots_description)/urdf/asus_xtion_pro.urdf.xacro"/>
	<!-- <arg name="world" value="$(find amr_robots_gazebo)/empty.world"/> -->
  </include>

  <arg name="xacro" default="$(find amr_robots_description)/urdf/pioneer3dx.urdf.xacro" />
  <arg name="name" default="pioneer3dx" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg xacro)" />
  <node name="spawn_xacro" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -xacro -model $(arg name)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>

